.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Roboto', sans-serif;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 70%;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 200px;
}

.introduce {
    width: 35%;
}

.auth-container {
    width: 60%;
}

.introduce div:nth-child(1) {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: 46px;
}

.tab div:nth-child(1) {
    display: inline-flex;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 16px;
    transition: 0.3s;
    font-size: 14px;
    height: 40px;
    border-bottom: 1px solid #ccc;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: none;
    margin-top: 8px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

#tab-space {
    width: 8px;
    border-bottom: 1px solid #ccc;
    height: 46px;
}

.fill-space {
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.input-auth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.input-auth div:nth-child(1) {
    width: 100px;
}

.input-auth input {
    flex: 1;
    padding: 5px 8px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-auth input:focus {
    outline-color: dodgerblue;
    outline-width: 0.5px;
    box-shadow: 0px 0px 5px dodgerblue;
}

#btn-login {
    flex: 1;
    background-color: #ffc107;
    border: none;
    padding: 8px 0;
    border-radius: 5px;
}

#btn-register {
    flex: 1;
    background-color: #ffc107;
    border: none;
    padding: 8px 0;
    border-radius: 5px;
}

.data {
    font-size: 14px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .introduce {
        display: none;
    }
    .auth-container{
        width: -webkit-fill-available;
    }
}