.navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 80px;
    background-color: #212529;
}

#logo {
    width: 80px;
    margin-left: 10px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-right: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: flex;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    height: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -140px;
    border-radius: 10px;
    font-size: 14px;
    flex-direction: column;
    align-items: flex-start;
    transition: height 1s;
    overflow: hidden;
}

.dropdown-content div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 34px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown-content i{
    margin: 6px;
}

.dropdown-content i {
    width: 24px;
}

.dropdown:hover .dropdown-content{
    display: flex;
    height: 120px;
}