
.sub_post {
    width: 100%;
    height: 160px;
    background: #313552;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 0 5px white;
    margin: 20px 0 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sub_post:hover{
    box-shadow: 2px 2px 8px white;
}

.thumnail-image {
    height: 90%;
    padding-left: 10px;
}

.thumnail-image div {
    width: 100%;
    height: 100%;
}

.thumnail-image img {
    height: 100%;
    object-fit: contain;
    border-radius: 1rem;
    box-shadow: 0 0 9px white;
}

.post-description {
    flex: 1;
    padding: 10px;
    height: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.title-des {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 26px;
}

.subcontent-des {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}