body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.head-tags{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 8%;
}

.space-fill{
    height: 1px;
    background-color: #ccc;
    flex: 1;
    margin: 0 5px;
}

.search-categ{
    width: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.list-tags{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}