@charset "UTF-8";
html,body{
    height: 100%;
    background-color: #212529;
}

.navbar{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 80px;
}

#logo{
    height: 40px;
    width: 80px;
}

.icon-menu{
    width: 56px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 56px;
    border-radius: 28px;
    background-color: white;
}

#welcome{
    height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.banner-image{
    width: 40%;
    height: 100%;
}
.banner-image-1{
    transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);//translate3d di chuyen theo khong gian 3 chieu vs x,y,z
    transform-style: preserve-3d;//cách các phần tử lồng nhau trong không gian 3d// preserver -> giữ nguyên vị trí child element 3d của nó
    backface-visibility: hidden;//ẩn mặt sau của phần từ div đã xoay
    position: relative;
    pointer-events: none;// phần tử này k phản ứng vs các sự kiện con trỏ
    -webkit-mask-image: url(../img/banner_backg.svg);// mask cho image của chính nó
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;//tỉ lệ khung hình giữ nguyên và phần thừa được cắt bớt
    will-change: transform;// thông báo cho trình duyệt về những thuộc tính có thể tốn kém để tối ưu hóa
}

.title-welcome{
    width: 40%;
    height: 100%;
    background-color: white;
}

$shooting-time: 3000ms;

.night {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateZ(45deg);
    // animation: sky 200000ms linear infinite;
}

.shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    // width: 100px;
    height: 2px;
    background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
    animation:
            tail $shooting-time ease-in-out infinite,// chỉ định hiệu ứng chuyển tiếp vs bắt đầu và kết thúc chậm (ease in out)
            shooting $shooting-time ease-in-out infinite;

    &::before {
        content: '';
        position: absolute;//tuyệt đối so với parent
        top: calc(50% - 1px);
        right: 0;
        // width: 30px;
        height: 2px;
        background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
        transform: translateX(50%) rotateZ(45deg);
        border-radius: 100%;
        animation: shining $shooting-time ease-in-out infinite;
    }

    &::after {
        @extend .shooting_star::before;
        transform: translateX(50%) rotateZ(-45deg);
    }

    @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
            $delay: random(9999) + 0ms;
            top: calc(50% - #{random(400) - 200px});
            left: calc(50% - #{random(300) + 0px});
            animation-delay: $delay;
            // opacity: random(50) / 100 + 0.5;

            &::before,
            &::after {
                animation-delay: $delay;
            }
        }
    }
}

@keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

@keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}

@keyframes shooting {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(300px);
    }
}

@keyframes sky {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(45 + 360deg);
    }
}
