body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#edit-content {
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title-edit {
    width: -webkit-fill-available;
    margin: 10px 0;
    font-size: 26px;
    border: none;
}

.title-edit:hover,
.title-edit:focus {
    outline: none;
}

.title-edit::placeholder {
    opacity: 0.85;
    font-weight: bold;
}

.tag-edit {
    width: -webkit-fill-available;
    margin: 18px 0;
    font-size: 16px;
    border: none;
}

.tag-edit::placeholder {
    opacity: 0.7;
}

.tag-edit:hover,
.tag-edit:focus {
    outline: none;
}

#tab-space {
    width: 8px;
    border-bottom: 1px solid #ccc;
    height: 46px;
}

.tab {
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 46px;
}

.tab div:nth-child(1) {
    display: inline-flex;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 16px;
    transition: 0.3s;
    font-size: 14px;
    width: 84px;
    border-bottom: 1px solid #ccc;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: none;
    margin-top: 8px;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: none;
}

#body-edit {
    width: -webkit-fill-available;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#edit {
    flex: 1;
}

#preview {
    flex: 1;
    font-style: normal;
    overflow-y: scroll;
}

#text-area {
    border: none;
    width: 100%;
    height: 100%;
    font-size: 18px;
    resize: none;
}

#text-area:hover,
#text-area:focus {
    outline: none;
}

.edit-action {
    border-bottom: 1px solid #ccc;
    flex: 1;
}

#save-post {
    margin: 1em 0 0 1.2em;
    align-self: flex-end;
}

.save-post-btn {
    box-shadow: 0 1px 6px rgba(0,0,0,0.12),0 1px 6px rgba(0,0,0,0.12) !important;
    background-color: #00B5AD;
    color: #FFFFFF;
    border-radius: 10em;
    font-size: 1.125rem;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    min-height: 1em;
    outline: none;
    border: none;
    margin: 0em;
    padding: 0.8em 1.5em;
    line-height: 1;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, box-shadow 0.25s ease;
}

.save-post-btn:hover{
    box-shadow: 0 2px 7px rgba(0,0,0,0.3),0 2px 7px rgba(0,0,0,0.3) !important;
}


/*------------------------------------------------------------*/

@keyframes rotateX {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    50% {
        transform: rotateX(-20deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}