@charset "UTF-8";
body {
    margin: 0;
    height: 100%;
    background-color: #212529;
}

.h0 {
    font-size: 100px;
}

.navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 80px;
}

#logo {
    height: 40px;
    width: 80px;
    margin-left: 10px;
}

nav {
    display: inline-block;
    width: auto;
    align-items: flex-end;
}

.icon-menu {
    width: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    margin-right: 15px;
}

nav:hover .dropdown {
    display: inline-block;
}

.dropdown {
    margin-top: 20px;
    display: none;
    list-style: none;
    /*padding-left: 0;*/
    /*margin-left: auto;*/
    transition: background-color 5s ease-in;
    /*position: absolute;*/
}

.dropdown li {
    padding: 10px 25px;
    color: #fff;
    background: #262626;
    display: block;
    position: relative;
    text-decoration: none;
    transition-duration: 2s;
}

.dropdown li:hover,
.dropdown li:focus {
    background-color: #cc2a36;
    color: #fff;
    cursor: pointer;
}

.dropdown a {
    text-decoration: none;
    font-size: 20px;
    color: inherit;
}

#welcome {
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.banner-image {
    width: 40%;
    height: 100%;
}

.banner-image-1 {
    transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: relative;
    pointer-events: none;
    -webkit-mask-image: url(../img/banner_backg.svg);
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
}

.title-welcome {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
    height: 100%;
}

.content-welcome {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.search-bar i {
    color: white;
    font-size: 24px;
    margin-right: -40px;
    z-index: 2;
}

.search-bar input {
    height: 46px;
    min-width: 350px;
    max-lines: 1;
    border-radius: 25px;
    padding-left: 50px;
    padding-right: 5px;
    font-size: 20px;
    border: none;
    opacity: 0.15;
}

.search-bar input:hover,
.search-bar input:focus {
    opacity: 1;
    outline: none;
}

.search-bar:hover input,
.search-bar:focus input{
    opacity: 1;
}

.search-bar:hover i {
    color: black;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 800px;
}

.list-post {
    width: 65%;
}

.list-categories {
    width: 20%;
    padding: 16px 8px 20px 16px;
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    margin: 20px 0 20px 0;
    box-shadow: 3px 8px 3px rgba(0, 0, 0, 0.7);
}

.list-categories h2 {
    font-family: 'Dancing Script', cursive;
}


#search-categ{
    background: rgba(0,0,0,0.1);
    border: none;
    border-radius: 8px;
    width: 90%;
    padding: 8px;
}

.sub_categ {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sub_categ label {
    font-family: 'Roboto', sans-serif;
}

.amount-post {
    opacity: 0.5;
}

#btn-edit-auth{
    position: fixed;
    bottom: 15px;
    right: 15px;
    height: 50px;
    background-color: floralwhite;
    width: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

/*   search bar*/
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/*-----------------------------------------------------------------------------------------------------*/
.night {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -100%;
    transform: rotateZ(45deg);
    z-index: -1;
}

.shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
    animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.shooting_star::before, .shooting_star::after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining 3000ms ease-in-out infinite;
}

.shooting_star::after {
    transform: translateX(50%) rotateZ(-45deg);
}

.shooting_star:nth-child(1) {
    top: calc(50% - -70px);
    left: calc(50% - 128px);
    animation-delay: 9483ms;
}

.shooting_star:nth-child(1)::before, .shooting_star::after:nth-child(1), .shooting_star:nth-child(1)::after {
    animation-delay: 9483ms;
}

.shooting_star:nth-child(2) {
    top: calc(50% - 74px);
    left: calc(50% - 198px);
    animation-delay: 3081ms;
}

.shooting_star:nth-child(2)::before, .shooting_star::after:nth-child(2), .shooting_star:nth-child(2)::after {
    animation-delay: 3081ms;
}

.shooting_star:nth-child(3) {
    top: calc(50% - 154px);
    left: calc(50% - 86px);
    animation-delay: 1553ms;
}

.shooting_star:nth-child(3)::before, .shooting_star::after:nth-child(3), .shooting_star:nth-child(3)::after {
    animation-delay: 1553ms;
}

.shooting_star:nth-child(4) {
    top: calc(50% - -178px);
    left: calc(50% - 278px);
    animation-delay: 2154ms;
}

.shooting_star:nth-child(4)::before, .shooting_star::after:nth-child(4), .shooting_star:nth-child(4)::after {
    animation-delay: 2154ms;
}

.shooting_star:nth-child(5) {
    top: calc(50% - -15px);
    left: calc(50% - 290px);
    animation-delay: 6763ms;
}

.shooting_star:nth-child(5)::before, .shooting_star::after:nth-child(5), .shooting_star:nth-child(5)::after {
    animation-delay: 6763ms;
}

.shooting_star:nth-child(6) {
    top: calc(50% - -85px);
    left: calc(50% - 161px);
    animation-delay: 2580ms;
}

.shooting_star:nth-child(6)::before, .shooting_star::after:nth-child(6), .shooting_star:nth-child(6)::after {
    animation-delay: 2580ms;
}

.shooting_star:nth-child(7) {
    top: calc(50% - 101px);
    left: calc(50% - 42px);
    animation-delay: 5875ms;
}

.shooting_star:nth-child(7)::before, .shooting_star::after:nth-child(7), .shooting_star:nth-child(7)::after {
    animation-delay: 5875ms;
}

.shooting_star:nth-child(8) {
    top: calc(50% - 60px);
    left: calc(50% - 175px);
    animation-delay: 8643ms;
}

.shooting_star:nth-child(8)::before, .shooting_star::after:nth-child(8), .shooting_star:nth-child(8)::after {
    animation-delay: 8643ms;
}

.shooting_star:nth-child(9) {
    top: calc(50% - 186px);
    left: calc(50% - 208px);
    animation-delay: 6904ms;
}

.shooting_star:nth-child(9)::before, .shooting_star::after:nth-child(9), .shooting_star:nth-child(9)::after {
    animation-delay: 6904ms;
}

.shooting_star:nth-child(10) {
    top: calc(50% - 46px);
    left: calc(50% - 14px);
    animation-delay: 2288ms;
}

.shooting_star:nth-child(10)::before, .shooting_star::after:nth-child(10), .shooting_star:nth-child(10)::after {
    animation-delay: 2288ms;
}

.shooting_star:nth-child(11) {
    top: calc(50% - -50px);
    left: calc(50% - 42px);
    animation-delay: 204ms;
}

.shooting_star:nth-child(11)::before, .shooting_star::after:nth-child(11), .shooting_star:nth-child(11)::after {
    animation-delay: 204ms;
}

.shooting_star:nth-child(12) {
    top: calc(50% - -37px);
    left: calc(50% - 104px);
    animation-delay: 2672ms;
}

.shooting_star:nth-child(12)::before, .shooting_star::after:nth-child(12), .shooting_star:nth-child(12)::after {
    animation-delay: 2672ms;
}

.shooting_star:nth-child(13) {
    top: calc(50% - -120px);
    left: calc(50% - 63px);
    animation-delay: 3604ms;
}

.shooting_star:nth-child(13)::before, .shooting_star::after:nth-child(13), .shooting_star:nth-child(13)::after {
    animation-delay: 3604ms;
}

.shooting_star:nth-child(14) {
    top: calc(50% - 196px);
    left: calc(50% - 25px);
    animation-delay: 8710ms;
}

.shooting_star:nth-child(14)::before, .shooting_star::after:nth-child(14), .shooting_star:nth-child(14)::after {
    animation-delay: 8710ms;
}

.shooting_star:nth-child(15) {
    top: calc(50% - -118px);
    left: calc(50% - 179px);
    animation-delay: 9292ms;
}

.shooting_star:nth-child(15)::before, .shooting_star::after:nth-child(15), .shooting_star:nth-child(15)::after {
    animation-delay: 9292ms;
}

.shooting_star:nth-child(16) {
    top: calc(50% - -54px);
    left: calc(50% - 95px);
    animation-delay: 8959ms;
}

.shooting_star:nth-child(16)::before, .shooting_star::after:nth-child(16), .shooting_star:nth-child(16)::after {
    animation-delay: 8959ms;
}

.shooting_star:nth-child(17) {
    top: calc(50% - -41px);
    left: calc(50% - 36px);
    animation-delay: 6868ms;
}

.shooting_star:nth-child(17)::before, .shooting_star::after:nth-child(17), .shooting_star:nth-child(17)::after {
    animation-delay: 6868ms;
}

.shooting_star:nth-child(18) {
    top: calc(50% - -36px);
    left: calc(50% - 44px);
    animation-delay: 1752ms;
}

.shooting_star:nth-child(18)::before, .shooting_star::after:nth-child(18), .shooting_star:nth-child(18)::after {
    animation-delay: 1752ms;
}

.shooting_star:nth-child(19) {
    top: calc(50% - -34px);
    left: calc(50% - 201px);
    animation-delay: 4490ms;
}

.shooting_star:nth-child(19)::before, .shooting_star::after:nth-child(19), .shooting_star:nth-child(19)::after {
    animation-delay: 4490ms;
}

.shooting_star:nth-child(20) {
    top: calc(50% - 82px);
    left: calc(50% - 265px);
    animation-delay: 9079ms;
}

.shooting_star:nth-child(20)::before, .shooting_star::after:nth-child(20), .shooting_star:nth-child(20)::after {
    animation-delay: 9079ms;
}

@keyframes tail {
    0% {
        width: 0;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}

@keyframes shining {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}

@keyframes shooting {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(300px);
    }
}

@keyframes sky {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}
